<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ejemplo Webpay Plus Diferido - {{ action }}</title>
    {% include 'include/header.html' %}
</head>

<body class="container">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Ejemplo Webpay Plus Diferido - {{ action }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Step: {{ step }}</li>
    </ol>
</nav>

<div class="alert alert-warning" role="alert">
    <h3>Request</h3>
    {{ request }}
</div>
<div class="alert alert-primary" role="alert">
    <h3>result</h3>
    {{ response }}
</div>

<form action="/webpay-plus-deferred/status" method="POST">
    <input type="hidden" name="token_ws" value="{{ request.token }}">
    <input type="submit" class="btn btn-success" value="Obtener Status">
</form>

<form action="/webpay-plus-deferred/increase_date" method="POST">
    <input type="hidden" name="token_ws" value="{{ request.token }}">
    <input type="hidden" name="buy_order" value="{{ request.buy_order }}">
    <input type="hidden" name="authorization_code" value="{{ request.authorization_code }}">
    <input type="submit" class="btn btn-success" value="Incrementar fecha expiracion">
</form>

<form action="/webpay-plus-deferred/reverse_amount" method="POST">
    <input type="hidden" name="token_ws" value="{{ request.token }}">
    <input type="hidden" name="buy_order" value="{{ request.buy_order }}">
    <input type="hidden" name="authorization_code" value="{{ request.authorization_code }}">
    <input type="submit" class="btn btn-success" value="Revertir monto">
</form>

<form action="/webpay-plus-deferred/history" method="POST">
    <input type="hidden" name="token_ws" value="{{ request.token }}">
    <input type="submit" class="btn btn-success" value="Historial">
</form>

<form action="/webpay-plus-deferred/capture" method="POST">
    <input type="hidden" name="token_ws" value="{{ request.token }}">
    <input type="hidden" name="buy_order" value="{{ request.buy_order }}">
    <input type="hidden" name="authorization_code" value="{{ request.authorization_code }}">
    <input type="hidden" name="capture_amount" value="{{ response.total_amount }}">
    <input type="submit" class="btn btn-success" value="Capturar">
</form>

<a href="/">&laquo; volver a index</a>
</body>
</html>