<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ejemplos Webpay Plus Diferido - Estado de Transacci&oacute;n</title>
    {% include 'include/header.html' %}
</head>

<body class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ejemplo Webpay Plus Diferido- Status</a></li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body col-sm-4">
            <form id="formulario" action="/webpay-plus-deferred/status" method="POST">
                <div class="form-group">
                    <label>token_ws:</label><input name="token_ws" type="text" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Enviar" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <br>
    <a href="/">&laquo; volver a index</a>
</body>

</html>