<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ejemplo Webpay Plus Mall Diferido - Confirmar Transacci&oacute;n</title>
    {% include 'include/header.html' %}
</head>

<body class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ejemplo Webpay Plus Mall Diferido - Confirmar Transacci&oacute;n</a></li>
            <li class="breadcrumb-item active" aria-current="page">Step: Commit Transacti&oacute;n</li>
        </ol>
    </nav>

    <div class="alert alert-warning" role="alert">
        <h3>Request</h3>
        token_ws: {{ token }}
    </div>
    <div class="alert alert-primary" role="alert">
        <h3>Result</h3>
        {{ response }}
    </div>
    <br>
    <div class='row'>
        <div class="col-md-6">
            <form action="/webpay-plus-mall-deferred/capture" method="POST"
                style="margin: 0px 100px;">
                <div class="form-group">
                    <label for="details_buy_order">Token</label>
                    <input type="text" name="token_ws" value="{{ token }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="details_buy_order">Amount</label>
                    <input type="text" name="amount" value="{{ response.details[0].amount }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="details_buy_order">Commerce Code</label>
                    <input type="text" name="commerce_code" value="{{ response.details[0].commerce_code }}"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="details_buy_order">Authorization Code</label>
                    <input type="text" name="authorization_code" value="{{ response.details[0].authorization_code }}"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="details_buy_order">Buy Order</label>
                    <input type="text" name="buy_order" value="{{ response.details[0].buy_order }}"
                        class="form-control">
                </div>
                <input type="submit" class="btn btn-success" value="Capturar">
            </form>
            <form id="formulario" action="/webpay-plus-mall-deferred/refund" method="POST" style="margin: 20px 100px;">
                <div class="form-group d-none">
                    <label>token_ws:</label><input name="token_ws" type="text" value="{{ token }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>buy_order:</label><input name="buy_order" type="text" value="{{ response.details[0].buy_order }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>commerce_code:</label><input name="commerce_code" type="text" value="{{ response.details[0].commerce_code }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>amount:</label><input name="amount" type="text" value="{{ response.details[0].amount }}" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Reembolsar" class="btn btn-success" />
            </form>
            <form id="formulario" action="/webpay-plus-mall-deferred/increase_amount" method="POST" style="margin: 20px 100px;">
                <div class="form-group d-none">
                    <label>token_ws:</label><input name="token_ws" type="text" value="{{ token }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>buy_order:</label><input name="buy_order" type="text" value="{{ response.details[0].buy_order }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>commerce_code:</label><input name="commerce_code" type="text" value="{{ response.details[0].commerce_code }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>amount:</label><input name="amount" type="text" value="{{ response.details[0].amount }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>Authorization Code:</label><input name="authorization_code" type="text" value="{{ response.details[0].authorization_code }}" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Incrementar monto" class="btn btn-success" />
            </form>
            <form id="formulario" action="/webpay-plus-mall-deferred/reverse_preauthorized_amount" method="POST" style="margin: 20px 100px;">
                <div class="form-group d-none">
                    <label>token_ws:</label><input name="token_ws" type="text" value="{{ token }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>buy_order:</label><input name="buy_order" type="text" value="{{ response.details[0].buy_order }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>commerce_code:</label><input name="commerce_code" type="text" value="{{ response.details[0].commerce_code }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>amount:</label><input name="amount" type="text" value="{{ response.details[0].amount }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>Authorization Code:</label><input name="authorization_code" type="text" value="{{ response.details[0].authorization_code }}" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Reversa monto pre autorizado" class="btn btn-success" />
            </form>
            <form id="formulario" action="/webpay-plus-mall-deferred/increase_date" method="POST" style="margin: 20px 100px;">
                <div class="form-group d-none">
                    <label>token_ws:</label><input name="token_ws" type="text" value="{{ token }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>buy_order:</label><input name="buy_order" type="text" value="{{ response.details[0].buy_order }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>commerce_code:</label><input name="commerce_code" type="text" value="{{ response.details[0].commerce_code }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>Authorization Code:</label><input name="authorization_code" type="text" value="{{ response.details[0].authorization_code }}" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Incrementar fecha de expiracion" class="btn btn-success" />
            </form>
        </div>
        <div class="col-md-6">
            <form action="/webpay-plus-mall-deferred/capture" method="POST" class='.col-md-6'
                style="margin: 0px 100px;">
                <div class="form-group">
                    <label for="details_buy_order">Token</label>
                    <input type="text" name="token_ws" value="{{ token }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="details_buy_order">Amount</label>
                    <input type="text" name="amount" value="{{ response.details[1].amount }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="details_buy_order">Commerce Code</label>
                    <input type="text" name="commerce_code" value="{{ response.details[1].commerce_code }}"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="details_buy_order">Authorization Code</label>
                    <input type="text" name="authorization_code" value="{{ response.details[1].authorization_code }}"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="details_buy_order">Buy Order</label>
                    <input type="text" name="buy_order" value="{{ response.details[1].buy_order }}"
                        class="form-control">
                </div>
                <input type="submit" class="btn btn-success" value="Capturar">
            </form>
            <form id="formulario" action="/webpay-plus-mall-deferred/refund" method="POST" style="margin: 20px 100px;">
                <div class="form-group d-none">
                    <label>token_ws:</label><input name="token_ws" type="text" value="{{ token }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>buy_order:</label><input name="buy_order" type="text" value="{{ response.details[1].buy_order }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>commerce_code:</label><input name="commerce_code" type="text" value="{{ response.details[1].commerce_code }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>amount:</label><input name="amount" type="text" value="{{ response.details[1].amount }}" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Reembolsar" class="btn btn-success" />
            </form>
            <form id="formulario" action="/webpay-plus-mall-deferred/increase_amount" method="POST" style="margin: 20px 100px;">
                <div class="form-group d-none">
                    <label>token_ws:</label><input name="token_ws" type="text" value="{{ token }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>buy_order:</label><input name="buy_order" type="text" value="{{ response.details[1].buy_order }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>commerce_code:</label><input name="commerce_code" type="text" value="{{ response.details[1].commerce_code }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>amount:</label><input name="amount" type="text" value="{{ response.details[1].amount }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>Authorization Code:</label><input name="authorization_code" type="text" value="{{ response.details[1].authorization_code }}" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Incrementar monto" class="btn btn-success" />
            </form>
            <form id="formulario" action="/webpay-plus-mall-deferred/reverse_preauthorized_amount" method="POST" style="margin: 20px 100px;">
                <div class="form-group d-none">
                    <label>token_ws:</label><input name="token_ws" type="text" value="{{ token }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>buy_order:</label><input name="buy_order" type="text" value="{{ response.details[1].buy_order }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>commerce_code:</label><input name="commerce_code" type="text" value="{{ response.details[1].commerce_code }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>amount:</label><input name="amount" type="text" value="{{ response.details[1].amount }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>Authorization Code:</label><input name="authorization_code" type="text" value="{{ response.details[1].authorization_code }}" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Reversa monto pre autorizado" class="btn btn-success" />
            </form>
            <form id="formulario" action="/webpay-plus-mall-deferred/increase_date" method="POST" style="margin: 20px 100px;">
                <div class="form-group d-none">
                    <label>token_ws:</label><input name="token_ws" type="text" value="{{ token }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>buy_order:</label><input name="buy_order" type="text" value="{{ response.details[1].buy_order }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>commerce_code:</label><input name="commerce_code" type="text" value="{{ response.details[1].commerce_code }}" class="form-control" />
                </div>
                <div class="form-group d-none">
                    <label>Authorization Code:</label><input name="authorization_code" type="text" value="{{ response.details[1].authorization_code }}" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Incrementar fecha de expiracion" class="btn btn-success" />
            </form>
        </div>
    </div>
    <a href="/">&laquo; Volver a index</a>
</body>

</html>