<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ejemplo Webpay Plus Mall Diferido - Transaccion Refund</title>
    {% include 'include/header.html' %}
</head>

<body class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ejemplo Webpay plus mall diferido- Transaccion Refund</a></li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body col-sm-4">
            <form id="formulario" action="/webpay-plus-mall-deferred/refund" method="POST">
                <legend>Formulario de Anulaci&oacute;n</legend>
                <div class="form-group">
                    <label>token_ws:</label><input name="token_ws" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>buy_order:</label><input name="buy_order" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>commerce_code:</label><input name="commerce_code" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>amount:</label><input name="amount" type="text" class="form-control" />
                </div>
                <input name="enviar" type="submit" value="Enviar" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <br>
    <a href="/">&laquo; volver a index</a>
</body>

</html>