<h1>Ejemplo Transaccion Completa Diferida Mall - Incrementar monto pre autorizado</h1>

<h2>Request</h2>
{{ request }}

<h2>result</h2>
{{ response }}

<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/increase_date" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
    <input type="hidden" name="token" value="{{ request.token }}">
    <input type="hidden" name="buy_order" value="{{ request.buy_order }}">
    <input type="hidden" name="authorization_code" value="{{ request.authorization_code }}">
    <input type="hidden" name="commerce_code" value="{{ request.commerce_code }}">
    <input type="submit" value="Incrementar fecha expiracion">
</form>

<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/reverse_amount" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
    <input type="hidden" name="token" value="{{ request.token }}">
    <input type="hidden" name="buy_order" value="{{ request.buy_order }}">
    <input type="hidden" name="authorization_code" value="{{ request.authorization_code }}">
    <input type="hidden" name="commerce_code" value="{{ request.commerce_code }}">
    <input type="hidden" name="amount" value="{{ request.amount }}">
    <input type="submit" value="Revertir monto">
</form>

<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/history" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
    <input type="hidden" name="token" value="{{ request.token }}">
    <input type="hidden" name="buy_order" value="{{ request.buy_order }}">
    <input type="hidden" name="commerce_code" value="{{ request.commerce_code }}">
    <input type="submit" value="Historial">
</form>

<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/capture" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
    <input type="hidden" name="token" value="{{ request.token }}">
    <input type="hidden" name="buy_order" value="{{ request.buy_order }}">
    <input type="hidden" name="authorization_code" value="{{ request.authorization_code }}">
    <input type="hidden" name="capture_amount" value="{{ response.total_amount }}">
    <input type="hidden" name="commerce_code" value="{{ request.commerce_code  }}">
    <input type="submit" value="Capturar">
</form>


<a href="/">&laquo; volver a index</a>
</body>
</html>