<h1>Ejemplo Transaccion Completa Diferida Mall - Transacciòn confirmada</h1>

<h2>Request</h2>
{{ req }}

<h2>Response</h2>
{{ resp }}

<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/status" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token') }}">
  <input type="submit" value="Obtener Status Transacción">
</form>
<h2>Transacción 1</h2>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/refund" method="post" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <label for="token">Token</label>
  <input name="token" id="token" value="{{ req.get('token') }}">

  <label for="child_commerce_code">Codigo de comercio (hijo)</label>
  <input name="child_commerce_code" value="{{ resp.details[0]['commerce_code'] }}">

  <label for="child_buy_order">Codigo de comercio (hijo)</label>
  <input name="child_buy_order" value="{{ resp.details[0]['buy_order'] }}">

  <label for="amount">Monto</label>
  <input name="amount" id="amount" value="{{ resp.details[0]['amount'] }}">


  <button type="submit">Solicitar reembolso</button>
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/increase_amount" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token') }}">
  <input type="hidden" name="buy_order" value="{{ resp.details[0]['buy_order'] }}">
  <input type="hidden" name="authorization_code" value="{{ resp.details[0]['authorization_code'] }}">
  <input type="hidden" name="amount" value="{{ resp.details[0]['amount'] }}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[0]['commerce_code'] }}">
  <input type="submit" value="Incrementar monto">
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/reverse_amount" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token') }}">
  <input type="hidden" name="buy_order" value="{{ resp.details[0]['buy_order'] }}">
  <input type="hidden" name="authorization_code" value="{{ resp.details[0]['authorization_code'] }}">
  <input type="hidden" name="amount" value="{{ resp.details[0]['amount'] }}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[0]['commerce_code'] }}">
  <input type="submit" value="Reversa monto">
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/increase_date" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token') }}">
  <input type="hidden" name="buy_order" value="{{ resp.details[0]['buy_order'] }}">
  <input type="hidden" name="authorization_code" value="{{ resp.details[0]['authorization_code'] }}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[0]['commerce_code'] }}">
  <input type="submit" value="Incrementar fecha expiracion">
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/history" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token')}}">
  <input type="hidden" name="buy_order" value="{{ resp.details[0]['buy_order'] }}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[0]['commerce_code'] }}">
  <input type="submit" value="Historial">
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/capture" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token')}}">
  <input type="hidden" name="buy_order" value="{{ resp.details[0]['buy_order'] }}">
  <input type="hidden" name="authorization_code" value="{{ resp.details[0]['authorization_code'] }}">
  <input type="hidden" name="capture_amount" value="{{ resp.details[0]['amount']}}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[0]['commerce_code']  }}">
  <input type="submit" value="Capturar">
</form>

<h2>Transacción 2</h2>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/refund" method="post" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">

  <label for="token">Token</label>
  <input name="token" id="token" value="{{ req.get('token') }}">

  <label for="child_commerce_code">Codigo de comercio (hijo)</label>
  <input name="child_commerce_code" value="{{ resp.details[1]['commerce_code'] }}">

  <label for="child_buy_order">Codigo de comercio (hijo)</label>
  <input name="child_buy_order" value="{{ resp.details[1]['buy_order'] }}">

  <label for="amount">Monto</label>
  <input name="amount" id="amount" value="{{ resp.details[1]['amount'] }}">


  <button type="submit">Solicitar reembolso</button>
</form>
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/increase_amount" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token') }}">
  <input type="hidden" name="buy_order" value="{{ resp.details[1]['buy_order'] }}">
  <input type="hidden" name="authorization_code" value="{{ resp.details[1]['authorization_code'] }}">
  <input type="hidden" name="amount" value="{{ resp.details[1]['amount'] }}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[1]['commerce_code'] }}">
  <input type="submit" value="Incrementar monto">
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/reverse_amount" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token') }}">
  <input type="hidden" name="buy_order" value="{{ resp.details[1]['buy_order'] }}">
  <input type="hidden" name="authorization_code" value="{{ resp.details[1]['authorization_code'] }}">
  <input type="hidden" name="amount" value="{{ resp.details[1]['amount'] }}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[1]['commerce_code'] }}">
  <input type="submit" value="Reversa monto">
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/increase_date" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token') }}">
  <input type="hidden" name="buy_order" value="{{ resp.details[1]['buy_order'] }}">
  <input type="hidden" name="authorization_code" value="{{ resp.details[1]['authorization_code'] }}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[1]['commerce_code'] }}">
  <input type="submit" value="Incrementar fecha expiracion">
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/history" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token')}}">
  <input type="hidden" name="buy_order" value="{{ resp.details[1]['buy_order'] }}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[1]['commerce_code'] }}">
  <input type="submit" value="Historial">
</form>
<form class="transaccion_completa_form" action="/mallfulltransaction-deferred/capture" method="POST" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input type="hidden" name="token" value="{{ req.get('token')}}">
  <input type="hidden" name="buy_order" value="{{ resp.details[1]['buy_order'] }}">
  <input type="hidden" name="authorization_code" value="{{ resp.details[1]['authorization_code'] }}">
  <input type="hidden" name="capture_amount" value="{{ resp.details[1]['amount']}}">
  <input type="hidden" name="commerce_code" value="{{ resp.details[1]['commerce_code']  }}">
  <input type="submit" value="Capturar">
</form>