<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ejemplos Patpass Comercio - Voucher </title>
    {% include 'include/header.html' %}
</head>

<body class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Ejemplos Patpass Comercio - Voucher</a></li>
    <li class="breadcrumb-item active" aria-current="page">Step: Display voucher</li>
    </ol>
    </nav>

<p><samp>Voucher displayed successfully with Patpass comercio</samp></p>
<br>

<a href="/">&laquo; volver a index</a>
</body>
</html>