<html>
<head>
<!-- Hotjar Tracking Code for Demo SDK Python -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3377139,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <title>Ejemplo integraci&oacute;n Webpay Rest</title>
    {% include 'include/header.html' %}
</head>

<body class="container">
<h1>Ejemplos Webpay</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Service</th>
            <th scope="col">Create</th>
            <th scope="col">Refund</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
    <tbody>
    <tr>
        <td>Webpay Plus</td>
        <td><a href="/webpay-plus/create">Crear Transacci&oacute;n</a></td>
        <td><a href="/webpay-plus/refund-form">Reembolsar Transacci&oacute;n</a></td>
        <td><a href="/webpayplus-status-form">Consultar Estado Transacci&oacute;n</a></td>
    </tr>
    <tr>
        <td>Webpay Plus Mall</td>
        <td><a href="/webpay-plus-mall/create">Crear Transacci&oacute;n</a></td>
        <td><a href="/webpay-plus-mall/refund-form">Reembolsar Transacci&oacute;n</a></td>
        <td><a href="/webpay-plus-mall/status-form">Consultar Estado Transacci&oacute;n</a></td>
    </tr>
    <tr>
        <td>Webpay Plus Captura Diferida</td>
        <td><a href="/webpay-plus-deferred/create">Crear Transacci&oacute;n</a></td>
        <td><a href="/webpay-plus-deferred/refund-form">Reembolsar Transacci&oacute;n</a></td>
        <td><a href="/webpay-plus-deferred/status-form">Consultar Estado Transacci&oacute;n</a></td>
    </tr>

    <tr>
    <td>Webpay Plus Mall Mall Deferred</td>
    <td><a href="/webpay-plus-mall-deferred/create">Crear Transacci&oacute;n</a></td>
    <td><a href="/webpay-plus-mall-deferred/refund-form">Reembolsar Transacci&oacute;n</a></td>
    <td><a href="/webpay-plus-mall-deferred/status-form">Consultar Estado Transacci&oacute;n</a></td>
    </tr>

    <tr>
        <td>Oneclick Mall</td>
        <td><a href="/oneclick-mall/start">Comenzar Inscripci&oacute;n</a></td>
        <td><a href="#"></a></td>
        <td><a href="/oneclick-mall/status">Consultar Estado Transacci&oacute;n</a></td>
    </tr>
    
    <tr>
        <td>Oneclick Mall Deferred</td>
        <td><a href="/oneclick-mall-deferred/start">Comenzar Inscripci&oacute;n</a></td>
        <td><a href="#"></a></td>
        <td><a href="#"></a></td>
    </tr>

    <tr>
    <td>Transacci&oacute;n Completa</td>
    <td><a href="/fulltransaction/create">Crear Transacci&oacute;n</a></td>
    <td><a href="/fulltransaction/refund-form">Reembolsar Transacci&oacute;n</a></td>
    <td><a href="/fulltransaction/status-form">Consultar Estado Transacci&oacute;n</a></td>
    </tr>
    <tr>
        <td>Transacci&oacute;n Completa Deferred</td>
        <td><a href="/fulltransaction-deferred/create">Crear Transacci&oacute;n</a></td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Patpass-webpay</td>
        <td><a href="/patpass-webpay/create">Crear Transacci&oacute;n</a></td>
        <td>-</td>
        <td><a href="/patpass-webpay/status-form">Consultar Estado Transacci&oacute;n</a></td>
    </tr>

    <tr>
        <td>Transacci&oacute;n Completa Mall</td>
        <td><a href="/mallfulltransaction/create">Crear Transacci&oacute;n</a></td>
        <td><a href="/mallfulltransaction/refund-form">Reembolsar Transacci&oacute;n</a></td>
        <td><a href="/mallfulltransaction/status-form">Consultar Estado Transacci&oacute;n</a></td>
    </tr>

    <tr>
        <td>Transacci&oacute;n Completa Mall Deferred</td>
        <td><a href="/mallfulltransaction-deferred/create">Crear Transacci&oacute;n</a></td>
        <td>-</td>
        <td>-</td>
    </tr>

    <tr>
        <td>Patpass Comercio</td>
        <td><a href="/patpass-comercio/start">Crear Transacci&oacute;n</a></td>
        <td><a href="#"></a></td>
        <td><a href="#"></a></td>
    </tr>
    </tbody>
</table>
{% include 'include/footer.html' %}
</body>
</html>
