<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ejemplo Oneclick Mall - Borrar Inscripci&oacute;n</title>
    {% include 'include/header.html' %}
  </head>

  <body class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Ejemplo Oneclick Mall - Borrar Inscripci&oacute;n</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Step: Deleted Inscription
        </li>
      </ol>
    </nav>

    <div class="alert alert-warning" role="alert">
      <h3>request</h3>
      {{ req }}
    </div>
    {% if resp == True %}
    <div class="alert alert-primary" role="alert">
    {% else %}
    <div class="alert alert-danger" role="alert">
    {% endif %}
      <h3>result</h3>
      {% if resp == True %}
      <span>Inscripci&oacute;n Eliminada </span>
      {% else %}
      <span>Inscripci&oacute;n No Eliminada</span>
      {% endif %}
    </div>
    <a href="/">&laquo; volver a index</a>
  </body>
</html>
