<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ejemplo Oneclick Mall - Reembolso Transaccion</title>
    {% include 'include/header.html' %}
</head>

<body class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Ejemplo Oneclick Mall - Reembolso Transaccion</a></li>
    <li class="breadcrumb-item active" aria-current="page">Step: Refund Transaction</li>
    </ol>
    </nav>

<div class="alert alert-warning" role="alert">
<h3>request</h3>
{{ req }}
</div>
<div class="alert alert-primary" role="alert">
<h3>result</h3>
{{ resp }}
</div>
<br>
<form action="/oneclick-mall/refund" method="POST">

    <input type="hidden" id="buy_order" name="buy_order" value="{{ buy_order }}">
    <input type="hidden" id="tbk_user" name="tbk_user" value="{{ tbk_user }}">

    <h3>Comercio 1</h3>

 <div class="form-group">
  <label for="details_commerce_code_1">Codigo de comercio (comercio hijo)</label>
  <input id="details_commerce_code_1" class="form-control" name="child_commerce_code" value="{{ details[0]['commerce_code'] }}">
 </div>
 <div class="form-group">
  <label for="details_buy_order_1">Orden de compra (comercio hijo)</label>
  <input id="details_buy_order_1" class="form-control" name="child_buy_order" value="{{ details[0]['buy_order'] }}"/>
 </div>
 <div class="form-group">
   <label for="details_amount_1">Monto (comercio hijo)</label>
  <input id="details_amount_1" class="form-control" name="amount" value="{{ details[0]['amount'] }}">
 </div>


<input type="submit" class="btn btn-success" value="Refund Payment">
</form>
<a href="/">&laquo; volver a index</a>
</body>
</html>